.divVtuberListItem{
    min-width: 340px;
    max-width:400px;
    min-height:400px;
    max-height:480px;
    margin: 2px;
    border-radius: 5%;
    align-content: center;
    justify-content: center;
    text-align: center;
    background:#f3f0ec;
    padding: 10px;
    color: #1E2749;
}

.divTitle{
    font-size: 20px;
}

.cardVtuberImage{
    max-width: 240px;
    max-height:240px;
}

.divVtuberCardBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.spanFavoriteCheckBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.divChannelLink{
    max-width: 300px;
    text-overflow:wrap;
    word-wrap: none;
}

