.divHeaderImg{
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#imgMainHeaderImage{
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

#imgSmolHeaderImage{
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

@media only screen and (min-width: 600px){
    #imgSmolHeaderImage{
        display: none;
    }
}

@media only screen and (max-width: 600px){

    #imgMainHeaderImage{
        display: none;
    }
}

